---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Alicia G칩mez Revilla</h1>
			<p class="hero__text">
				Licenciada en Bellas Artes y estudiando una especializaci칩n en desarrollo de videojuegos
			</p>
			<div class="buttons__container">
				<Boton href="/Portfolio/docs/Curriculum_AliciaGo패mezRevilla.pdf" texto="CV"/>
				<Boton href="/Portfolio/docs/Trabajo_Fin_De_Grado_Go패mezRevilla_Alicia_2024.pdf" texto="TFG"/>
			</div>
		</div>
    <img
		class="hero__img"
		src="/Portfolio/img/Alicia.jpg"
		alt="Alicia"
		width="384"
    	height="384"
	/>
	</div>
</section>
