---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy una artista plástica especializada en escultura y grabado,
				con un enfoque en la exploración de la identidad a través de la
				simbología y la representación animal. Mi trayectoria en la
				Universidad de Bellas Artes de Sevilla me permitió desarrollar
				un estilo propio, explorando diversas técnicas como el modelado,
				la fundición, el mundo del grabado y la estampación.
				Actualmente, complemento mi formación con una especialización en
				videojuegos, donde amplío mis conocimientos en arte digital y
				modelado 3D. Mi objetivo es seguir evolucionando como artista,
				combinando lo tradicional y lo digital para crear proyectos
				innovadores y expresivos.
			</p>
			<SocialIcons width="30" height="30" />
		</div>
	</div>
</section>
